.heading{
	text-align:center;
}
body{
	background-color:rgb(204,204,204);
}
li{
	list-style-type:none;
}
a{
	text-decoration-line:none;
}
div{
	background-color:rgb(255,255,255);
	padding:20px;
	width:80%;
	margin-left:10px;
	border-radius:5px;
	border:2px black solid;
}
.player_one{
	background-color:rgb(255,255,255);
	padding:20px;
	width:80%;
	border-radius:5px;
}
.player_two{
	background-color:rgb(255,255,255);
	padding:20px;
	width:80%;
	border-radius:5px;
}



