/*  your css code here. If applicable */
body{
	background-color:rgb(204, 204, 204);
}
h1,h2{
	 
	text-align:center;
}
ul{
	list-style-type:none;
	border:2px solid black;
	border-radius: 12px;
	background-color:white;
}
section{
	border:2px solid black;
	border-radius:10px;
	text-align:center;
	background-color:white;

.player-one,
.player_two{
	background-color: rgb(255, 255, 255);
	padding:10px;
	/* border-radius:10px; */
	width:fit-content;
	margin:10px auto;
}
}



